
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
  <div class="" style="display: flex;">

      <a class="navbar-brand" href="index.html">
          <img src="https://media.tenor.com/-RNOB5xDZ5gAAAAC/sunset.gif" alt="Avatar Logo" style="width:40px;"  class="rounded-pill" >
      </a>
      <h1 class="titl ">GALVANI REGISTRO</h1>
    <button class="navbar-toggler bg-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  </div> 
</nav>

<app-btncomponent></app-btncomponent>